    <title>Home Page</title>
  </head </head <link rel="stylesheet" href="/stylesheet/style.css">
  <body 
    <h1>TBU</h1>
    <p>Co<link rel="stylesheet" href="/stylesheet/style.css"</p>
    <% if (user) { %>
      <h1>Welcome, <%= user.username %>!</h1>
      <p><a href="/inquiries">Submmit an inquiry</a></p>
      <p><a href="/auth/sign-out">Sign out</a></p>
    <% } else { %>
      <p><a href="/auth/sign-in">sign in</a> to continue.</p>
    <% } %>
  </body>
</html>